.container {
  grid-area: weeklyForecast;
  border-radius: 27px;
  background: rgba(196, 195, 193, 0.40);
  padding: 40px 16px;
  overflow: hidden;
  
  .slider {
    padding: 0 40px;
    height: 100%;
    width: 100%;
  }
  
  .sliderItem {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.forecast {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  .day {
    font-size: 12px;
    margin-bottom: 4px;
  }
  
  .degree {
    font-size: 24px;
    font-weight: 500;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    border-radius: 16px;
    padding: 20px 8px;

    .slider {
      padding: 0 20px;
    }
    
    svg {
      width: 40px;
      height: 40px;
    }
  }
  
  .forecast {
    .day {
      font-size: 10px;
    }
    
    .degree {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 20px 0;
    border-radius: 8px;
    height: 120px;

    .slider {
      padding: 0 10px;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
  
  .forecast {
    .day {
      font-size: 8px;
    }
    
    .degree {
      font-size: 12px;
    }
  }
}