.container {
  grid-area: airConditions;
  position: relative;
  border-radius: 27px;
  background: rgba(196, 195, 193, 0.40);
  padding: 56px 14px;
  display: flex;
  flex-direction: column;
  gap: 52px;
  overflow: hidden;
  
  .bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .time {
    display: flex;
    align-items: center;
    gap: 40px;
    
    p {
      font-size: 32px;
      font-weight: 500;
    }
  }
  
  .title {
    font-size: 32px;
    font-weight: 700;
  }
  
  .information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin-top: auto;
    
    .informationSingle {
      padding-left: 40px;
      display: flex;
      gap: 8px;
      
      img {
        width: 55px;
        height: 65px;
        object-fit: cover;
      }
      
      .conditionText p {
        font-size: 20px;
        font-weight: 500;
        
        &:first-child {
          margin-bottom: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .container {
    gap: 16px;
    
    .time {
      justify-content: center;
      gap: 20px;
      
      p {
        font-size: 24px;
      }
    }
    
    .title {
      text-align: center;
      font-size: 28px;
      margin-bottom: 6px;
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    gap: 16px;
    
    .time {
      gap: 12px;
      
      p {
        font-size: 16px;
      }
    }
    
    .title {
      font-size: 24px;
      margin-bottom: 12px;
    }
    
    .information {
      grid-template-columns: 1fr;
      gap: 20px;
      
      .informationSingle {
        padding-left: 0;
        margin: 0 auto;
      }
    }
  }
}