@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 32px 26px;
  color: #ffffff;
  background: url('./assets/bg.jpeg') lightgray 50% / cover no-repeat;
;
}

main {
  display: grid;
  gap: 24px;
  grid-template-areas: 
    "info info hourlyForecast"
    "menu activities airConditions"
    "menu weeklyForecast airConditions";
  grid-template-rows: 1fr 300px 300px;
  grid-template-columns: 188px 1fr 600px;
}