@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background: #000;
}

main {
  display: grid;
  gap: 24px;
  grid-template-areas: 
    "info info hourlyForecast"
    "menu activities airConditions"
    "menu weeklyForecast airConditions"
  ;
}