@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 32px 26px;
  color: #ffffff;
  background: url('./assets/bg.jpeg') lightgray 50% / cover no-repeat;
  // overflow: hidden;
}

main {
  display: grid;
  gap: 24px;
  grid-template-areas: 
    "info info hourlyForecast"
    "menu activities airConditions"
    "menu weeklyForecast airConditions";
  // grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 2fr 9fr 7fr;
}

@media screen and (max-width: 1600px) {
  body {
    height: auto;
  }

  main {
    grid-template-areas: 
    "info info"
    "hourlyForecast hourlyForecast"
    "menu activities"
    "menu activities"
    "airConditions airConditions"
    "airConditions airConditions"
    "weeklyForecast weeklyForecast";
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  body {
    height: auto;
  }

  main {
    grid-template-areas: 
    "info"
    "hourlyForecast"
    "menu"
    "activities"
    "airConditions"
    "airConditions"
    "weeklyForecast";
    grid-template-columns: 1fr;
  }
}